body {
  background-color: #FFFFFF;
}

#banner {
  color: #FFFFFF;
  margin-bottom: 10px;
}

#banner h1 {
  color: #FFFFFF;
}

#banner a {
  color: white;
}

#banner a:hover {
  text-decoration: underline;
}

#banner .small-8.columns, #banner .large-12.columns {
  padding-left: 0;
  padding-bottom: 0.5rem;
}

#menu {
  margin-top: 19px;
  margin-bottom: 0px;
  border-bottom: solid;
  border-width: thin;
}

#top {
  width: 100%;
  max-width: initial;
  background-color: #005B88;
  margin-bottom: 10px;
}

code {
  border-style: initial;
  border-width: initial;
  border-color: initial;
  color: initial;
  padding: initial;
  background-color: #f2f2f2;
}

.highlight {
  margin-bottom: 1.25rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  overflow: auto;
  white-space: pre;
}

.highlighter-rouge {
  background-color: #f2f2f2;
}

.mc-field-group label {
  color: #ffffff;
}

.clear input {
  margin-top: 1.3rem;
  padding: 0.6rem 1rem;
}
