body {
  background-color: #FFFFFF;
}

h2 {
  margin-bottom: 0px;
}

#banner {
  color: #FFFFFF;
  margin-bottom: 10px;
}

#banner h1 {
  color: #FFFFFF;
}

#banner a {
  color: white;
}

#banner a:hover {
  text-decoration: underline;
}

#banner a:visited {
  color: white;
}

#menu {
  margin-top: 19px;
  margin-bottom: 0px;
  border-bottom: solid;
  border-width: thin;
}

#top {
  width: 100%;
  max-width: initial;
  background-color: #005B88;
  margin-bottom: 10px;
}
