<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image" content="/images/fb_image.jpg">

    <link href="http://www.zagaja.com/feed.xml" rel="alternate" type="application/rss+xml" title="Zagaja.com Blog Posts" />
  </head>
  <body>
    <script type="text/javascript">
      (function(window, document, dataLayerName, id) {
      window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
      function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
      var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
      var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
      tags.async=!0,tags.src="https://zagaja.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
      !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
      })(window, document, 'dataLayer', '085f3cf3-2652-4b3e-80bb-87ae67897646');
    </script>
    <div id="top">
      <div class="row">
        <div id="banner" class="large-12 large-centered columns">
            <div class="banner medium-7 columns"><h1 id="title"><a href="{{ site.url }}">{{ site.title }}</a></h1></div>
            <div class="medium-4 columns" id="search-searchbar"></div>
            <div class="medium-1 columns" id="powered-by"></div>
            <div id="banner-description" class="banner__description large-12 columns">
              <p>Hi I'm Matt Zagaja: software engineer, lawyer, and community organizer. I am currently a Senior Backend Engineer at TED.</p>
              <a href="/">Home</a> - <a href="/about">About</a> - <a href="https://twitter.com/mzagaja">Twitter</a> - <a rel="me" href="https://mastodon.social/@mzagaja">Mastodon</a> - <a href="https://www.zagaja.com/feed.xml">RSS Feed</a>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="large-12 columns" id="blog-posts">
              {{ content }}
        </div>
        <div class="large-12 columns" id="search-hits"></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <script src="https://pitwebring.billhunt.dev/webring.js"></script>
            <script>showWebring(true);</script>
            <small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.zagaja.com/" property="cc:attributionName" rel="cc:attributionURL">Matt Zagaja</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</small>
        </div>
      </div>
      {% include algolia.html %}
  </body>
</html>
