<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

        <!--Facebook Properties-->
        <meta property="og:site_name" content="{{ site.title }}"/>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:image" content="/images/fb_image.jpg">

        <!-- Custom Javascript -->
        <script src="/bower_components/modernizr/modernizr.js"></script>

        <!--RSS Feed-->
        <link href="http://www.zagaja.com/feed.xml" rel="alternate" type="application/rss+xml" title="Zagaja.com Blog Posts" />
    </head>
    <body>
      <div id="top">
        <div class="row">
          <div id="banner" class="large-12 large-centered columns">
              <h1 id="title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
              <p>Hi I'm Matt Zagaja: optimist, geek, and citizen. I am currently the Lead Civic Web Developer at the Metropolitan Area Planning Council.</p>
              <!-- Begin Mailchimp Signup Form -->
              <div id="mc_embed_signup large-12 columns">
              <form action="https://zagaja.us2.list-manage.com/subscribe/post?u=a6d8176ada6e5220a4fd7490b&amp;id=1f472c8860" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
              <div class="mc-field-group small-8 columns">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
                <div id="mce-responses" class="clear small-4 columns">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6d8176ada6e5220a4fd7490b_1f472c8860" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
              </div>
              <!--End mc_embed_signup-->
              <div class="large-12 columns">
                <a href="/">Home</a> - <a href="/about">About</a> - <a href="https://twitter.com/mzagaja">Twitter</a> - <a href="https://www.facebook.com/mzagaja">Facebook</a> - <a href="https://www.zagaja.com/feed.xml">RSS Feed</a>
              </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="large-12 columns">
                {{ content }}
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
              <small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.zagaja.com/" property="cc:attributionName" rel="cc:attributionURL">Matt Zagaja</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</small>
          </div>
        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28040942-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/foundation/js/foundation.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
